//colors
$color_mirage_approx: #1c1e22;
$color_baltic_sea_approx: #272b30;
$color_pumice_approx: #c8c8c8;
$color_shark_approx: #22262a;
$color_celeste_approx: #cccccc;
$color_shuttle_gray_approx: #62686d;
$color_mid_gray_approx: #5d6368;
$color_cape_cod_approx: #3a3f44;
$color_outer_space_approx: #313539;
$color_woodsmoke_approx: #0c0d0e;
$color_rolling_stone_approx: #7a8288;
$color_pizazz_approx: #f89406;
$color_mercury_approx: #e6e6e6;
$color_fern_approx: #62c462;
$color_apple_approx: #4fbd4f;
$color_viking_approx: #5bc0de;
$color_scooter_approx: #2ac7d2;
$color_indochine_approx: #c67605;
$color_carnation_approx: #ee5f5b;
$color_alizarin_crimson_approx: #e01d17;
$color_tuna_approx: #32383e;
$color_trout_approx: #49515a;
$color_bright_gray_approx: #3e444c;
$color_picton_blue_approx: #4ab9db;
$color_tahiti_gold_approx: #df8505;
$color_sunset_orange_approx: #ec4844;
$color_mountain_mist_approx: #999999;
$color_abbey_approx: #484e55;
$color_black_approx: #020202;
$color_bunker_approx: #101112;
$color_vulcan_approx: #141618;
$color_oslo_gray_approx: #8a9196;
$color_pale_sky_approx: #70787d;
$color_scarpa_flow_approx: #53595d;
$color_pastel_green_approx: #78cc78;
$color_forest_green_approx: #379337;
$color_seagull_approx: #74cae3;
$color_jelly_bean_approx: #20829f;
$color_eastern_blue_approx: #2596b8;
$color_curious_blue_approx: #279dc1;
$color_sea_buckthorn_approx: #faa123;
$color_cinnamon_approx: #7c4a03;
$color_rusty_nail_approx: #804d03;
$color_chelsea_gem_approx: #9e5f04;
$color_mai_tai_approx: #a86404;
$color_froly_approx: #f17a77;
$color_milano_red_approx: #bb1813;
$color_thunderbird_approx: #d71c16;
$color_charade_approx: #2b2e32;
$color_nevada_approx: #697075;
$color_mantis_approx: #62bd4f;
$color_clementine_approx: #e96506;
$color_red_stage_approx: #d05a05;
$color_mandy_approx: #ed4d63;
$color_amaranth_approx: #ea364f;
$color_gray_chateau_approx: #a2aab4;
$color_storm_dust_approx: #666666;
$white: #fff;
$black_60: rgba(0, 0, 0, 0.6);
$black_40: rgba(0, 0, 0, 0.4);
$black_50: rgba(0, 0, 0, .5);
$black_30: rgba(0, 0, 0, 0.3);
$black_20: rgba(0, 0, 0, 0.2);
$white_60: rgba(255, 255, 255, .6);
$white_10: rgba(255, 255, 255, .1);
$white_50: rgba(255, 255, 255, .5);
$black: #000;
$black_7_5: rgba(0, 0, 0, 0.075);
$black_25: rgba(0, 0, 0, 0.25);